In [1]:
# DataFrames
# Two dimesional tables
# collection of series

In [2]:
# DataFrames can be created in two ways
# 1. Python List
# 2. Python Numpy Array

In [4]:
import pandas as pd

In [10]:
# Creating dataframe from list
# User defined column names and index
data = [[1,'a',100.00], [2, 'b', 100.10], [3, 'c', 100.5]]
df1 = pd.DataFrame(data, columns = ['ID', 'NAME', 'PRICE'], index = [1,2,3])
print(df1)

   ID NAME  PRICE
1   1    a  100.0
2   2    b  100.1
3   3    c  100.5

In [12]:
# Creating dataframe from dictionary
data = {
    "ID" : [1,2,3],
    "NAME" : ['a','b','c'],
    "PRICE" : [10.0, 10.1, 10.2]
}

df2 = pd.DataFrame(data)
print(df2)

   ID NAME  PRICE
0   1    a   10.0
1   2    b   10.1
2   3    c   10.2

In [15]:
# Read from CSV File
csv_file1 = pd.read_csv("sample.csv")
print(csv_file1)

   regid      name  salary
0      1  pavithra     100
1      2  shivangi     200
2      3    samrat     140
3      4    rakesh     120
4      5    amogha     180

In [16]:
# Convert to CSV File
df2.to_csv("sample_write.csv", index=False)